<section>
	<section>
		<form class="form" (ngSubmit)="transfer()">
			<h1>NEW TRANSFER</h1>
			<div class="form-field">
				<label class="form-field__label" for="value">Value</label>
				<input
					class="form-field__input"
					id="value"
					type="text"
					[(ngModel)]="value"
					name="value"
				/>
			</div>

			<div class="form-field">
				<label class="form-field__label" for="number-account"
					>Number account</label
				>
				<input
					class="form-field__input"
					id="number-account"
					type="text"
					[(ngModel)]="account"
					name="number-account"
				/>
			</div>

			<div class="button-wrapper">
				<button class="button" type="submit">Transferir</button>
			</div>
		</form>
	</section>
</section>
