<section class="container">
	<h2 class="title">Histórico de Transferências</h2>
	<table class="table">
		<thead class="table__header">
			<th class="table__header__content">Valor</th>
			<th class="table__header__content">Conta destino</th>
			<th class="table__header__content">Data</th>
		</thead>
		<tbody *ngIf="!!transactionsReceived; else emptyList">
			<tr
				class="tabela__line"
				*ngFor="let transactionReceived of transactionsReceived"
			>
				<td class="table__content">
					{{ transactionReceived.value | currency }}
				</td>
				<td class="table__content">{{ transactionReceived.account }}</td>
				<td class="table__content">
					{{ transactionReceived.date | date: "short" }}
				</td>
			</tr>
		</tbody>
	</table>
	<ng-template #emptyList>
		<p>Sem histórico de transações até o momento.</p>
	</ng-template>
</section>
