<section class="container">
	<section>
		<form class="form" (ngSubmit)="transaction()">
			<h1 class="form__title">NOVA TRANSFERÊNCIA</h1>
			<div class="form-field">
				<label class="form-field__label" for="value">Valor</label>
				<input
					class="form-field__input"
					id="value"
					type="number"
					[(ngModel)]="value"
					name="value"
				/>
			</div>

			<div class="form-field">
				<label class="form-field__label" for="number-account"
					>Conta destino:</label
				>
				<input
					class="form-field__input"
					id="number-account"
					type="text"
					[(ngModel)]="account"
					name="number-account"
				/>
			</div>

			<div class="button-wrapper">
				<button class="button" type="submit">Transferir</button>
			</div>
		</form>
	</section>
</section>
